.sz5 { font-size: 14pt; line-height: 16pt; font-family: Osaka;}
.sz4 { font-size: 12pt; line-height: 13pt; font-family: Osaka;}
.sz31{ font-size: 9pt; line-height: 12pt; font-family: Osaka;}
.sz3 { font-size: 9pt; line-height: 11pt; font-family: Osaka;}
.sz21{ font-size: 8.5pt; line-height: 11pt; font-family: Osaka;}
.sz2 { font-size: 8.5pt; line-height: 9pt; font-family: Osaka;}
.sz1 { font-size: 7pt; line-height: 8pt; font-family: Osaka;}
.sz11{ font-size: 7pt; line-height: 11pt; font-family: Osaka;}

.test { color: #00FF00; }