.sz5 {font-size: 18pt; line-height: 20pt; font-family: Osaka;}
.sz4 {font-size: 14pt; line-height: 16pt; font-family: Osaka;}
.sz31{font-size: 12pt; line-height: 15pt; font-family: Osaka;}
.sz3 {font-size: 12pt; line-height: 14pt; font-family: Osaka;}
.sz21{font-size: 10pt; line-height: 15pt; font-family: Osaka;}
.sz2 {font-size: 10pt; line-height: 13pt; font-family: Osaka;}
.sz1 {font-size: 9pt; line-height: 12pt; font-family: Osaka;}
.sz11{font-size: 9pt; line-height: 14pt; font-family: Osaka;}

.test { color: #0000FF; }